export(corrgram)
export(panel.conf)
export(panel.ellipse)
export(panel.minmax)
export(panel.minmax)
export(panel.pie)
export(panel.pts)
export(panel.shade)
export(panel.txt)
export(col.corrgram)
